<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogApe API</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
</head>


<body class="min-vh-100 d-flex flex-column">

    <main class="my-auto">
        <div class="container">
            <h1 class="page-title">Simple CRUD API</h1>
            <p class="page-description">This is a simple CRUD API built with Python framework Flask,<a href="https://www.mongodb.com/" class="flask" target="_blank"> MongoDB</a> , and documented with <a href="https://pypi.org/project/flask-swagger-ui/" class="flask" target="_blank">Flask SwaggerUI</a> 
            </p>
            <p>

                <a class="btn btn-primary" href="https://flask-mongodb.onrender.com/docs" role="button" target="_blank">Documentation</a>
                <a class="btn btn-primary" href="https://github.com/kode-kelvin/FlaskSwaggerMongoDB" role="button" target="_blank">Source code</a>
            </p>
            <p>Connect with me</p>
            <nav class="footer-social-links">
                <a href="https://www.facebook.com/xcentriquehub/" class="social-link" target="_blank"><i class="mdi mdi-linkedin"></i></a>
                <a href="https://github.com/kode-kelvin/FlaskSwaggerMongoDB" target="_blank" class="social-link"><i class="mdi mdi-git"></i></a>
                <a href="https://www.linkedin.com/in/kelvin-obed-565877171/" class="social-link" target="_blank"><i class="mdi mdi-facebook"></i></a>
                
            </nav>
        </div>
    </main>
</body>

</html>